/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-May-2019, 17:30:42
    Author     : Renz
*/
*{
    padding: 0;
    margin:0 auto;
    box-sizing: border-box;
}

.clearfix{
    &::after {
        display: block; content: "";
        clear: both;
    }
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-align: center;
    height: 100%;
    overflow: hidden;
}

body {
    min-height: 100%;
}
#myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
  display:none;
}   