/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-May-2019, 17:30:42
    Author     : Renz
*/
*{
    padding: 0;
    margin:0 auto;
    box-sizing: border-box;
}

body {
    min-height: 100%;
}
.hide {
    display: none;
}

.kassen{
    border: 1px dashed red;
    min-height: 1700px;
    height: auto;
    margin-bottom: 1em;
}


