/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-May-2019, 17:30:42
    Author     : Renz
*/
*{
    padding: 0;
    margin:0 auto;
    box-sizing: border-box;
}

body {
    min-height: 100%;
}

.kassen{
    min-height: 1700px;
    height: auto;
    margin-bottom: 1em;
}

.dimensions{
    margin: 1em 0;
}

.i{
  font-size: 10px;
}

.indexf{
  border: 1px solid red;
  padding: 1em 150px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 3px 0 ;
  overflow: hidden;
  background-color: #333;
}

li b{
    color:white;
    float:right;
    padding-right: 1%;
}

li a{
    padding-left: 1%;
    float:left;
}

.create{   
    margin-bottom: 1em;
}

.forms h1, h2{
    text-align: center;
}

.testen{
    border: 1px solid red;
}

.one{
    float:left;
    clearfix: after;
    margin-bottom: 2em;
}

.one select{
    margin-bottom: 1.5em;
}
